@import '../../scss/mixins/mixin';
@import '../../scss/mixins/deletstyle';
@import '../../scss/mixins/responsive';
@import '../../scss/plugins/box';

%fc {
  @include flexCenter;
}

%fs {
  @include createFlexBox(center, flex-start, row);
}

%fss {
  @include createFlexBox(flex-start, flex-start, row);
}

%fcs {
  @include createFlexBox(center, flex-start);
}

%fsc {
  @include createFlexBox(flex-start, center, column);
}

%fcc {
  @include flexColumnCenter;
}

@font-face {
  font-family: hylx;
  src: url(./hylx.ttf);
}

body {
  padding-bottom: 1.4rem;
  background-color: #32115E;
}

.top {
  @include bgc_bgurl('http://alidown.zcdanbao.com/cdn/banner/images/everyday_top/content_bg.png', 100%, 6.33rem);
}

.rule-box {
  @include bgc_bgurl('http://alidown.zcdanbao.com/cdn/banner/images/everyday_top/rule_bg.png', 100%, 5.54rem);
  overflow-x: hidden;

  .rule {
    padding: 0 .5rem;
    @extend %fsc;
  }

  h1.title {
    margin: .15rem 0 .1rem;
    @include cfz_fw(#fff, .36rem, 500);
  }

  .rule-text {
    @include cfzlh_fw(#fff, .22rem, .4rem, 300);
  }

  .text-ellipsis {
    @include createBox(6.53rem, 3.63rem);
    margin: 1rem auto 0;
    overflow-x: hidden;
  }
}

$url: ('url': '',
  'w': 6.9rem,
  'h': 10.59rem,
  't': 0,
);

$title: ('c': #27035EFF,
  'fz': .3rem,
  'fw': 500,
);
$flexText: 0 0 15%;
$nthContrl: ('n': 4,
  'map': (flex: ($flexText, 0 0 .8rem, 0 0 35%, 0 0 25%)),
);

$ul: ('c': #fff,
  'fz': .3rem,
  'tw': 500,
  'mt': .32rem,
  'pw': .8rem,
  'flex': ($flexText, 0 0 .8rem, 0 0 35%, 0 0 25%),
  'img': .8rem);

@include createTopsBox($url, $title, $nthContrl, $ul, $o: 10.36rem);

.box {
  border: 0.08rem solid #0fffff;
  border-radius: 0.2rem;

  .title-box {
    min-height: 1.2rem;
    @extend %fc;
  }

  h1 {
    margin-top: 0.3rem;
    padding: .14rem 0;
    @include cfzlh_fw(#fff, .36rem, .48rem, 500);
    font-family: hylx;
    @include rds_borderBox(.23rem, .06rem solid transparent, 2.97rem);
    opacity: 0.22;
    @extend %fc;

    &.active {
      border-color: #0FFFFF;
      opacity: 1;
    }
  }

  li i {
    color: #2DFFDA;
  }

  ul {
    padding-bottom: .1rem;
  }

  p:last-of-type {
    text-align: left !important;
    padding-right: .3rem;

    span {
      display: inline-block;
      margin-right: 0.1rem;
      @include bgc_bgurl('http://alidown.zcdanbao.com/cdn/banner/images/static/mfb.png', .27rem, .27rem);
    }
  }

  .user-name {
    text-align: left !important;
    padding-left: .3rem;
  }
}

.box.month {
  @include bgc_bgurl('http://alidown.zcdanbao.com/cdn/banner/images/everyday_top/month_bg.png', 7.44rem, 5.75rem);
  border: unset;

  .order {
    width: 6rem;
    height: auto;
    margin: 0 auto;
    padding-top: 1.05rem;
  }

  li {
    margin-top: .3rem;

    img {
      margin-left: .8rem;
    }

    p {
      flex: 0 0 30%;

      &:last-of-type {
        padding-right: 0;
        padding-left: .3rem;
      }
    }

    .user-name {
      padding: 0;
      flex: 0 0 20%;
    }
  }
}