@import '../../scss/mixins/mixin';
@import '../../scss/mixins/deletstyle';
@import '../../scss/plugins/box';

%fc {
  @include flexCenter;
}

%fs {
  @include createFlexBox(center, flex-start, row);
}

%fss {
  @include createFlexBox(flex-start, flex-start, row);
}

%fcs {
  @include createFlexBox(center, flex-start);
}

%fcc {
  @include flexColumnCenter;
}

body {
  background-color: #060A23;
}

#rule {
  display: none;
}

.top {
  @include bgc_bgurl("http://image.mjlive-app.com/page/mid_autumn_top/top.jpg", 100%, 11.02rem);
}

.reward-img {
  margin-top: -1px;
  @include bgc_bgurl("http://image.mjlive-app.com/page/mid_autumn_top/reward.png", 100%, 3.74rem);
}

.reward-rule-img {
  @include bgc_bgurl("http://image.mjlive-app.com/page/mid_autumn_top/rule.png", 100%, 5.72rem);
}

.box-title-img {
  @include bgc_bgurl("http://image.mjlive-app.com/page/mid_autumn_top/top_title_bg.png", 5rem, .34rem);
  margin: .8rem auto .2rem;
}

$url: ('url': 'http://image.mjlive-app.com/page/mid_autumn_top/top_bg.png',
  'w': 6.9rem,
  'h': 6.6rem,
  't': 0,
);

$title: ('c': #CC8811,
  'fz': .3rem,
  'fw': 600,
);

$img: .6rem;
$flexTextMap: (flex: (0 0 .6rem, 0 0 $img, 0 0 1rem, 0 0 1rem, 0 0 1rem));
$nthContrl: ('n': 5,
  'map': $flexTextMap,
);

$ul: ('c': #fff,
  'fz': .24rem,
  'tw': 500,
  'mt': .4rem,
  'pw': $img,
  'flex': $flexTextMap,
  'img': $img);

@include createTopsBox($url, $title, $nthContrl, $ul, $o: 5.08rem);

.box {
  .title {
    padding: 0.7rem 0 .1rem;
  }

  li:first-child {
    margin-top: .3rem;
  }
}

.received {
  margin-top: 0.7rem;
  @extend %fcc;

  .img-box {
    margin-bottom: .25rem;
    position: relative;
    @include createBox(3.03rem, 3.03rem);

    .bg {
      position: absolute;
      top: 0;
      left: 0;
      @include bgc_bgurl("http://image.mjlive-app.com/page/mid_autumn_top/reward_bg.png", 100%, 100%);
    }

    img {
      display: block;
      @include createBox(1.65rem, 1.34rem);
      margin: .5rem auto 0;
    }
  }

  >p {
    @include fz_fw(.3rem, 500);
  }

  .received-text {
    margin-bottom: .2rem;
    color: #F2B055;
  }

  .received-money {
    margin-bottom: .5rem;
    color: #fff;
  }

  .received-btn {
    margin-bottom: 1.75rem;
    @include bgc_bgurl("http://image.mjlive-app.com/page/mid_autumn_top/btn_bg.png", 2.88rem, .8rem);
    background-color: transparent;

    &.ok {
      background-image: url("http://image.mjlive-app.com/page/mid_autumn_top/btn_bg_active.png");
    }
  }
}